@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-icon:hover .icon-card {
    background-color: rgb(96 165 250 );
    transition: all 0.3s ease; 
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }