@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-icon:hover .icon-card {
    background-color: rgb(239 68 68);
    transition: all 0.3s ease; 
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .AccordionChevron {
    transition: transform 300ms;
  }
  .AccordionTrigger[data-state='open'] > .AccordionChevron {
    transform: rotate(180deg);
  }
  
  .AccordionContent {
    overflow: hidden;
  }
  .AccordionContent[data-state='open'] {
    animation: slideDown 300ms ease-out;
  }
  .AccordionContent[data-state='closed'] {
    animation: slideUp 300ms ease-out;
  }
  
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  
  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }